body {
	background-color: #0FC;
}

body, html {
	height: 100%;
	width: 100%;
}

#container {
	height: 100%;
	width: 100%;
}

h1,h2 {
	text-align: center;
}

li {
	margin: 5px;
}

ul {
	list-style-type: none;
}

label {
	color: white;
}

#map-view {
	position: absolute;
	width :100%;
	height: auto;
}

#map-id {
    position: absolute;
    overflow: auto;
}

@media screen and (min-width: 320px) {
	#list-view {
		display: none;
	}

	#map-id {
		width: 290px;
		height: 290px;
	}
}

@media screen and (min-width: 480px) {
	#container {
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	#list-view {
		width: 20%;
		display: block;
	}

	#map-view {
		width: 80%;
	}

	#map-id {
		width: 400px;
    	height: 400px;
	}
}

@media screen and (min-width: 568px) {
	#container {
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	#list-view {
		width: 25%;
	}

	#map-view {
		width: 75%;
	}
}

@media screen and (min-width: 768px) {
	#map-id {
		width: 450px;
    	height: 450px;
	}
}

@media screen and (min-width: 800px) {
	#container {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
	}

	#list-view {
		width: 25%;
	}

	#map-view {
		width: 75%;
	}

	#map-id {
		width: 650px;
    	height: 650px;
	}
}
